<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/mainpage.html"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://epicsafety.com/"><span class="glyphicon glyphicon-user"></span> Epic Safety Contact</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Epic Safety Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://epicsafety.com/products/epic-alert/base-unit/apex-medical-alert-system/">APEX </a></li>
            <li><a href="https://epicsafety.com/products/epic-alert/pendants/oval-fall-detection-device/">Oval Fall Detection  </a></li>
            <li><a href="https://epicsafety.com/products/epic-alert/pendants/nano-pendant/">Nano Pendant</a></li>
            <li><a href="https://epicsafety.com/products/epic-alert/sensors/tact-door-contact/">Tact Door Contact</a></li>
            <li><a href="https://epicsafety.com/products/epic-alert/sensors/wave-motion-detector/">Wave Motion Detector</a></li>
            <li><a href="https://epicsafety.com/products/epic-alert/wall-devices/pico-emergency-button/">Pico Emergency Button</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-book"></span> Epic Safety Solutions<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
        <li><a href="https://epicsafety.com/solutions/family/"> PERS for Families </a></li>
        <li><a href="https://epicsafety.com/solutions/caregivers/"> PERS for Caregivers</a></li>
        <li><a href="https://epicsafety.com/solutions/seniors/"> PERS for Seniors</a></li>
        <li><a href=https://epicsafety.com/solutions/public/"> PERS for Public </a></li>
        <li><a href="https://epicsafety.com/solutions/critical-illness/"> PERS for Individual Affected by Critical Illness </a></li>
         </ul>
      </li>
    </ul>
  </div>
</nav>
