<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
   <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>



<% include ../partials/nav.ejs %>

<div class="container">

<table >
  <caption> Database Results:</caption>
  <tr >
    <th >UserName  </th>
    <th >Email </th>
    <th >Password  </th>
  </tr>

    <% results.forEach(function(r) { %>
      <tr>
        <td ><%= r.f1 %></td>
        <td ><%= r.f2 %></td>
        <td > <%= r.f3 %></td>

        </tr>
    <% }); %>
</table>
</div>

</body>
</html>
