<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
   <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>



<% include ../partials/nav.ejs %>

<div class="container">
<h2> Credentials of People who have made an account on the Website: </h2>
<table >

  <tr >
    <th >UserName  </th>
    <th >Email </th>
    <th >Password  </th>
  </tr>

    <% results.forEach(function(r) { %>
      <tr>
        <td ><%= r.name %></td>
        <td ><%= r.email %></td>
        <td > <%=  %></td>

        </tr>
    <% }); %>
</table>

</div>

</body>
</html>
