<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
   <link rel="stylesheet" href="./stylesheets/style.css" />
</head>


<body>



<% include ../partials/nav.ejs %>

<div class="container">
  <img src="EPIC LOGO.jpg" width="150" height="60">
<h2> DataBase of Epic Safety: </h2>
<br><br>
<table class="center">

  <tr >
    <th >UserName  </th>
    <th >Email </th>
    <th >Password  </th>
  </tr>

    <% results.forEach(function(r) { %>
      <tr>
        <td ><%= r.name %></td>
        <td ><%= r.email %></td>
        <td > <%=r.password  %></td>

        </tr>
    <% }); %>
</table>

</div>

</body>
</html>
