<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <style>
      body{
        background-color: LightBlue;
        font-family: Arial;
      }
      </style>

    </head>
    <body>
      <% include ../partials/nav.ejs %>
      <img src="C:\Users\divyansh\Desktop\node-js-getting-started\public\Capture-10.JPG"></img>


      <footer>
        <p align="center">Copyright © Epic Safety 2021<br>

        </footer>

         </body>
         </html>
