<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <style>
      body{
        background-color: LightBlue;
        font-family: Arial;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h2{
        text-align: center;
        text-decoration-style: solid;
      }
      </style>

    </head>
    <body>
      <% include ../partials/nav.ejs %>
      <h2> Welcome to Epic Safety new Produts Mannuals</h2>

      <img src="2.JPG"></img>
      <img src="3.JPG"></img>
      <img src="5.JPG"></img>
      <img src="6.JPG"></img>
      <img src="7.JPG"></img>
      <img src="8.JPG"></img>
      <img src="9.JPG"></img>
      <img src="10.JPG"></img>
      <img src="11.JPG"></img>
      <img src="12.JPG"></img>
      <img src="13.JPG"></img>
      <img src="14.JPG"></img>
      <img src="15.JPG"></img>





      <footer>
        <p align="center">Copyright © Epic Safety 2021<br>

        </footer>

         </body>
         </html>
