<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="./stylesheets/style.css" />


    <style>
      body{
        background-color: LightBlue;
        font-family: Arial;
      }
      .qwerty{
        display: inline;
        align-items: center;
        justify-content: center;
      }
      .elon{
        text-align: center;
      }
      .red{
        text-align: center;
      }
      .roy{
        font-size: 20pt;
        font-style: italic;
        font-stretch: ultra-expanded;

      }
      </style>

    </head>
    <body>
      <% include ../partials/nav.ejs %>
      <img src="C:\Users\divyansh\Desktop\Epic-Safety-Logo-1.png" width="200" height="120">
      <h1 class="elon">Login Page for Users:</h1>
      <div class= "qwerty">
      <form class="tyler" action="/login" method="post">
        <fieldset>
          <legend class="roy">Please Login:</legend>
        <p>Name:</p><input type="text" name="uname" placeholder="Enter your Name"><br><br>
        <p>UserName</p><input type="email" name="uemail" placeholder="Enter your Email address"><br><br>

        <input type="submit" name="add" value="Submit">
      </fieldset>
       </form>
     </div>

     <br><br><br><br><br><br><br><br><br>
     <footer>
       <p align="center">Copyright © Epic Safety 2021<br>

       </footer>

        </body>
        </html>
