<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="./stylesheets/style.css" />


    <style>
      body{
        background-color: white;
        font-family: Arial;
      }
      .qwerty{
        display: inline;
        align-items: center;
        justify-content: center;
      }
      .elon{
        font-size: 40pt;
        font-style: italic;
        text-align: center;
        text-shadow: 20px 20px 10px rgba(0,0,0,0.5);
        font-weight: bold;
        background-color: rgb(152,255,152);
      }
      .red{
        text-align: center;
      }
      .roy{
        font-size: 20pt;
        font-style: italic;
        font-stretch: ultra-expanded;

      }
    .MJ {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: rgb(152,255,152);
     text-align: center;
   }
      </style>

    </head>
    <body>

      <img src="Epic-Safety-Logo-1.jpg" width="200" height="120">
      <h1 class="elon">Login Page for Users:</h1>
      <div class= "qwerty">
      <form class="tyler" action="/login" method="post">
        <fieldset>
          <legend class="roy">Please Login:</legend>
        <p>UserName:</p><input type="text" name="uname" placeholder="Enter the username"><br><br>
        <p>Password</p><input type="password" name="upassword" placeholder="Enter the password"><br><br>

        <button>Submit</button>
      </fieldset>
       </form>
     </div>

     <br><br><br><br><br><br><br><br><br>
     <div class="MJ"
     <footer>
       <p align="center">Copyright © Epic Safety 2021<br>

       </footer>
     </div>


        </body>
        </html>
